/*.info-images .col-xs-2{
	width: 20%;
}

.info-images .col-xs-4{
	width: 40%;
	height: 152px;
	width: 539px;
}
.info-images .row
{
    margin: 0px;
}
#about-flip img
{
    background-color: transparent;
     width: 271.8px;
    height: 151.359px;
}
@media (max-width: 553px) {
   #about-flip 
    {
        background-color: transparent;
        width: auto;
        height: 151.359px;
    }
    #about-flip img
    {
        background-color: transparent;
        width: auto;
        height: 151.359px;
    }
    .info-images .col-xs-4{
        width: 40%;
        height: auto;
        width: auto;
    }
}*/

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-md-20 {
    position: relative;
    min-height: 2px;
    padding-right: 20px;
    padding-left: 20px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

.col-md-20 {
    width: 40%;
    float: left;
}

@media (max-width: 500px) {
    .info-images {
        margin-bottom: 200px;
    }
    .col-md-20 {
        width: 100%;
        float: left;
    }
    .front {
        min-height: 236px;
    }
    .back {
        min-height: 100%;
    }
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
    .col-md-20 {
        position: relative;
        min-height: 2px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .col-md-20 {
        width: 40%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
    .col-md-20 {
        width: 40%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
    .col-md-20 {
        position: relative;
        min-height: 2px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .col-md-20 {
        width: 40%;
        float: left;
    }
}